@{
    ViewData["Title"] = "Home Page";
}

<form method="get" action="~/Home/search">
    <label>Start Location: <input type="text" name="start"/></label>
    <label>End Location: <input type="text" name="end"/></label>
    <input type="submit" value="Search"/>
</form>